:root {
    /* colors */
    --bg-main: #1E1E1E;
    --bg-secondary: rgba(26, 54, 61, 1), rgba(42, 39, 61, 0.25);
    --bg-profile-growing-glow: rgba(141, 221, 255, 1), rgba(22, 25, 40, 0);

    --heading: rgba(255, 255, 255, 1), rgba(255, 255, 255, 0);
    --sub-heading: rgba(0, 255, 209, 1), rgba(255, 255, 255, 0);

    --white-text: white;
    --black-text: black;

    --profile-border: rgba(156, 190, 240, 1);

    --profile-hover-primary-border: rgba(212, 255, 224, 1);

    /* font-sizes */
    --font-max: 200px;
    --font-normal: 96px;
    --font-mid1: 48px;
    --font-mid2: 40px;
    --font-small: 36px;
    --font-smaller: 32px;
    --font-min: 20px;

    /* icon-sizes */
    --nav-icon-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}